<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Settings</title>
</head>
<body class="{{ 'night-mode' if night_mode else '' }}">
    <header>
        <h1>Settings</h1>
    </header>
    <main>
        <form method="POST">
            <label>
                <input type="checkbox" name="night_mode" {% if night_mode %}checked{% endif %}>
                Enable Night Mode
            </label>
            <h3>Customize Media Type Colors</h3>
            <label>Book:</label> <input type="color" name="color_book" value="{{ media_colors['Book'] }}"><br>
            <label>DVD:</label> <input type="color" name="color_dvd" value="{{ media_colors['DVD'] }}"><br>
            <label>CD:</label> <input type="color" name="color_cd" value="{{ media_colors['CD'] }}"><br>
            <label>Vinyl:</label> <input type="color" name="color_vinyl" value="{{ media_colors['Vinyl'] }}"><br>
            <label>Video Game:</label> <input type="color" name="color_game" value="{{ media_colors['VideoGame'] }}"><br>

            <button type="submit">Save</button>
        </form>
    </main>
    <footer>
        <p>Created by Fiana Frukhtman</p>
    </footer>
</body>
</html>
