<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="dropdown">
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
        </div>
    </nav>
    <h1>Welcome to your Personal Catalogue!</h1>
    <!-- Add your images or other content here -->
</body>
</html>
